server:
  port: 8083

spring:
  application:
    name: search-service

  datasource:
    url: jdbc:mysql://localhost:3306/product_listing?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 1176
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
product:
  service:
    url: http://localhost:8080